/* Container for the artists */
.artists-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
.artist {
    text-align: center;
    color: #68C586; 
    font-family: Arial, Verdana, sans-serif;
}
.artist img {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 50%;
}