<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/artists.css' %}">
    <link rel="stylesheet" href="{% static 'css/time_range.css' %}">
    <link rel="stylesheet" href="{% static 'css/top_tracks.css' %}">
    <link rel="stylesheet" href="{% static 'css/top_genres.css' %}">
    <link rel="stylesheet" href="{% static 'css/recently_played.css' %}">
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}">

</head>
<body>
    <div class="header">
        <div class="center-links">
            <a href="{% url 'recommendations' %}">Recommendations</a>
            <a href="{% url 'recently_played' %}">Recently Played</a>
            <a href="{% url 'top_artists' %}">Top Artists</a>
            <a href="{% url 'top_tracks' %}">Top Tracks</a>
            <a href="{% url 'top_genres' %}">Genre Pie</a>
        </div>
        <div class="right-links">
            {% if profile_picture_url %}
                <img src="{{ profile_picture_url }}" alt="Profile Picture" class="profile-picture">
            {% endif %}
            <a href="{% url 'spotify_logout' %}" class="logout">Logout</a>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>