{% extends 'base.html' %}

{% block title %}Top Genres{% endblock %}

{% block content %}
<div class="top-genres-container">
    <h1>Your Top Genres</h1>
    <div class="time-range-links">
        <a href="{% url 'top_genres' %}?time_range=short_term" class="{% if time_range == 'short_term' %}selected-term{% endif %}">1 Month</a>
        <a href="{% url 'top_genres' %}?time_range=medium_term" class="{% if time_range == 'medium_term' %}selected-term{% endif %}">6 Month</a>
        <a href="{% url 'top_genres' %}?time_range=long_term" class="{% if time_range == 'long_term' %}selected-term{% endif %}">1 Year</a>
    </div>
    <div class="content-wrapper">
        <img src="data:image/png;base64,{{ image_base64 }}" alt="Top Genres Pie Chart" class="chart-image">
        <ul class="genre-list">
            {% for genre in genres %}
                <li>{{ forloop.counter }}. {{ genre }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}