{% extends 'base.html' %}

{% block title %}Top Tracks{% endblock %}

{% block content %}
<h1>Your Top Tracks</h1>
<div class="time-range-links">
    <a href="{% url 'top_tracks' %}?time_range=short_term" class="{% if time_range == 'short_term' %}selected-term{% endif %}">1 month</a>
    <a href="{% url 'top_tracks' %}?time_range=medium_term" class="{% if time_range == 'medium_term' %}selected-term{% endif %}">6 months</a>
    <a href="{% url 'top_tracks' %}?time_range=long_term" class="{% if time_range == 'long_term' %}selected-term{% endif %}">12 months</a>
</div>

<div class="container">
    <form method="post" action="{% url 'create_playlist' %}">
        {% csrf_token %}
        <div class="tracks-container">
            {% for track in top_tracks.items %}
                <div class="track">
                    <input type="checkbox" name="selected_tracks" value="{{ track.id }}" id="track-{{ track.id }}">
                    <label for="track-{{ track.id }}">
                        <h2>{{ forloop.counter }}. {{ track.name }}</h2>
                        <p>by 
                            {% for artist in track.artists %}
                                {{ artist.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        {% if track.album.images and track.album.images.0.url %}
                            <img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" width="100" height="100">
                        {% else %}
                            <img src="https://via.placeholder.com/100" alt="No image available" width="100" height="100">
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit">Create Playlist</button>
    </form>
</div>
{% endblock %}
