{% extends 'base.html' %}

{% block title %}Top Tracks{% endblock %}

{% block content %}
<h1>Your Top Tracks</h1>
<div class="time-range-links">
    <a href="{% url 'top_tracks' %}?time_range=short_term" class="{% if time_range == 'short_term' %}selected-term{% endif %}">1 month</a>
    <a href="{% url 'top_tracks' %}?time_range=medium_term" class="{% if time_range == 'medium_term' %}selected-term{% endif %}">6 month</a>
    <a href="{% url 'top_tracks' %}?time_range=long_term" class="{% if time_range == 'long_term' %}selected-term{% endif %}">12 month</a>
</div>
<div class="container">
    <div class="tracks-container">
        {% for track in top_tracks.items %}
            <div class="track">
                <div>
                    <h2>{{ forloop.counter }}. {{ track.name }}</h2>
                    <p>by 
                        {% for artist in track.artists %}
                            {{ artist.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                {% if track.album.images and track.album.images.0.url %}
                    <a href="{{ track.external_urls.spotify }}" target="_blank">
                        <img src="{{ track.album.images.0.url }}" alt="{{ track.name }}" width="100" height="100">
                    </a>
                {% else %}
                    <a href="{{ track.external_urls.spotify }}" target="_blank">
                        <img src="https://via.placeholder.com/100" alt="No image available" width="100" height="100">
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
