{% extends 'dash.html' %}

{% block title %}Top Artists{% endblock %}

{% block content %}
<h1>Your Top Artists</h1>
<div class="time-range-links">
    <a href="{% url 'top_artists' %}?time_range=short_term" class="{% if time_range == 'short_term' %}selected-term{% endif %}">Short Term</a>
    <a href="{% url 'top_artists' %}?time_range=medium_term" class="{% if time_range == 'medium_term' %}selected-term{% endif %}">Medium Term</a>
    <a href="{% url 'top_artists' %}?time_range=long_term" class="{% if time_range == 'long_term' %}selected-term{% endif %}">Long Term</a>
</div>
<div class="artists-container">
    {% for artist in artists_info %}
        <div class="artist">
            <h2>{{ artist.index }}. {{ artist.name }}</h2>
            {% if artist.image_url %}
                <a href="{{ artist.spotify_url }}" target="_blank">
                    <img src="{{ artist.image_url }}" alt="{{ artist.name }}">
                </a>
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}