{% extends 'base.html' %}

{% block title %}Top Genres{% endblock %}

{% block content %}
<h1>Top Genres</h1>
<div class="time-range-links">
    <a href="{% url 'top_genres' %}?time_range=short_term" class="{% if time_range == 'short_term' %}selected-term{% endif %}">
        1 Month
    </a>
    <a href="{% url 'top_genres' %}?time_range=medium_term" class="{% if time_range == 'medium_term' %}selected-term{% endif %}">
        6 Month
    </a>
    <a href="{% url 'top_genres' %}?time_range=long_term" class="{% if time_range == 'long_term' %}selected-term{% endif %}">
        1 Year
    </a>
</div>
<div class="top-genres-container">
    {% if pie_chart %}
        <div class="pie-chart-and-list-container">
            <div class="pie-chart-container">
                <img src="{{ pie_chart }}" alt="Top Genres Pie Chart">
            </div>
            <div class="list">
                <h2>Top Genres</h2>
                <ul class="genre-list">
                    {% for genre, count in top_genres %}
                        <li>{{ forloop.counter }}: {{ genre }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% elif error %}
        <p>{{ error }}</p>
    {% endif %}
</div>
{% endblock %}