{% extends 'base.html' %}

{% block title %}Recently Played{% endblock %}

{% block content %}
<h1>Recently Played Tracks</h1>
<div class="tracks-container">
    {% for track in tracks_info %}
        <div class="track">
            <h2>{{ track.index }}. {{ track.name }}</h2>
            <p>by {{ track.artist }}</p>
            {% if track.image_url %}
                <a href="{{ track.spotify_url }}" target="_blank">
                    <img src="{{ track.image_url }}" alt="{{ track.name }}">
                </a>
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}