.recently-played-container {
    padding: 20px;
}

.track-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
}

.track-info {
    text-align: center;
    color: #68C586; 
    font-family: Arial, Verdana, sans-serif;
}

.track-info img.album-cover {
    width: 250px; /* Adjusted size for album covers */
    height: 250px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.track-details p {
    font-size: 1em;
    color: #68C586;
    font-family: Arial, Verdana, sans-serif;
    margin: 5px 0; /* Add some spacing between lines */
}

.track-details p strong {
    color: #68C586; /* Highlight strong text */
}
