body {
    background-color: #F5F5F5;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #68C586;
}


/* Header */
html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #68C586;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the header */
}

.header .left-links {
    display: flex;
}

.header .left-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1em;
}

.header .right-links {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.header .logout {
    text-decoration: none;
    color: #F5F5F5;
    margin-left: 20px;
    font-size: 1em;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px; /* Adjust margin to ensure proper spacing */
    object-fit: cover; /* Ensure the image covers the entire area */
    vertical-align: middle;
}