body {
    background-color: #F5F5F5;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    color: #68C586;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


/* Header */
html, body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
    font-family: Arial, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #68C586;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the header */
}

.header .left-links {
    display: flex;
}

.header .left-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #F5F5F5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

.header .logout {
    text-decoration: none;
    color: #F5F5F5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}