body {
    background-color: #F5F5F5;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
}
.artists-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}
.artist {
    text-align: center;
    color: #68C586; 
    font-family: Tahoma, sans-serif;
}
.artist img {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 50%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #68C586;
}

.header .left-links {
    display: flex;
}

.header .left-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.2em;
}

.header .logout {
    text-decoration: none;
    color: #F5F5F5;
    font-size: 1.2em;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #68C586;
}

.time-range-links {
    text-align: center;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time-range-links a {
    margin: 0 10px;
    color: #68C586;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.time-range-links a.selected-term {
    color: royalblue; 
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-genres-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.top-genres-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}