.tracks-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.track {
    text-align: center;
    color: #68C586; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 10px;
}

.track h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.track p {
    font-size: 1em;
    color: #68C586;
    font-family: Arial, Verdana, sans-serif;
}

.track img {
    width: 250px; 
    height: 250px; 
    border-radius: 4px;
    margin-bottom: 10px;
}
