.tracks-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.track {
    text-align: center;
    color: #FDFD96;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 10px;
    padding: 20px;
}

.track h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.track p {
    font-size: 1em;
    color: #FDFD96;
    font-family: Arial, Verdana, sans-serif;
}

.track img {
    width: 300px; 
    height: 300px; 
    border-radius: 4px;
    margin-bottom: 10px;
}
