.tracks-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.track {
    text-align: center;
    color: #68C586; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-family: Arial, Verdana, sans-serif;
    border-radius: 10px;
    cursor: pointer; /* Make the whole box clickable */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.track.selected {
    background-color: #007bff; /* Blue color for selected tracks */
    color: white; /* Change text color to white when selected */
}

.track h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.track p {
    font-size: 1em;
    color: #68C586;
    font-family: Arial, Verdana, sans-serif;
}

.track img {
    width: 250px; 
    height: 250px; 
    border-radius: 4px;
    margin-bottom: 10px;
}

.track.selected p {
    color: white; /* Ensure track info text is visible when selected */
}

.track.selected h2 {
    color: white; /* Ensure title is visible when selected */
}
