/* Container for top genre */
.top-genres-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Genre list */
.genre-list {
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    color: #FDFD96;
}



/* Pie chart and genre list container */
.pie-chart-and-list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    
}

.top-genres-container .pie-chart-and-list-container .list h2 {
    font-size: 1.5em;
    color: #FDFD96;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

.top-genres-container .pie-chart-and-list-container .pie-chart-container img{
    border-radius: 10%;
}

.top-genres-container .genre-list{
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    color: #FDFD96;
}

/* Pie chart container */
.pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}